<!doctype html>
<html>
    <head>
        <title>Target Catcher Server API</title>
        <meta charset="utf-8">
        <link rel="icon" href="images/ReferMe.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles/index.css">
    </head>
    <body> 
        <img src="images/ReferMe.png" alt="Target Catcher Logo">
        <h1 class="title">Target <span class="text-lightblue">Catcher</span></h1>
        <p>Welcome to Target <span class="text-lightblue">Catcher</span> Backend Server API!</p>
    </body>
</html>